* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#board {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

}

#board div{
  width: 64px;
  height: 64px;
  border: 1px solid black;

}

.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.coin {
  background-image: url('../images/coin.png');
  background-repeat: no-repeat;
  background-size: cover;
}
